{% extends 'dogcity/base.html' %} 

{% block content %}
<nav>
    <a class='logo' href="{% url 'home_page' %}"> <img src="../../static/images/Dog_City_logo_white.svg" alt="logo"></a>
    <a href="{% url 'dog_list' %}">Dogs</a>
    <a href="{% url 'walk_list' %}">Walks</a>
  </nav>
<div class='form'>
  <h2>Add/Edit Dog</h2>
    <form method="POST" class="dog-form">
    {% csrf_token %}
    {{ form.as_p }}
  <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>
{% endblock %}