{% extends 'dogcity/base.html' %}

{% block content %}
<nav>
  <a class='logo' href="{% url 'home_page' %}"> <img src="../../static/images/Dog_City_logo_white.svg" alt="logo"></a>
    <a href="{% url 'dog_list' %}">Dogs</a>
  <a href="{% url 'owner_list' %}">Owners</a>
  </nav>
  <div class="bg">
  <h2>Walks</h2>
  <a class="add-button" href="{% url 'walk_create' %}">Add a walk</a></h4>
  
    {% for walk in walks %}
    <div class="walks-list">
      {% comment %} <h6>{{playdate.created_date}}</h6> {% endcomment %}
      <h4>{{walk.day}}, {{walk.date}}</h3>
      <a class="detail" href="{% url 'walk_detail' pk=walk.pk %}">More details</a>
    </div>
  {% endfor %}
</div>
{% endblock %}