{% extends 'dogcity/base.html' %}

{% block content %}
<nav>
    <a class='logo' href="{% url 'home_page' %}"> <img src="../static/images/Dog_City_logo_White.svg" alt="logo"></a>
    <a href="{% url 'dog_list' %}">Dogs</a>
    <a href="{% url 'playdate_list' %}">Playdates</a>
  </nav>
<div class="bg">
<h2>{{dog.name}}</h2>
<img src="{{dog.photo_url}}" alt="dog" class="dog-photo">
<h4>Age: {{dog.age}}</h4>
<h4>Breed: {{dog.breed}}</h4>
<h4>Personality: {{dog.personality}}</h4>
<h4>Owner: <a href="{% url 'owner_detail' pk=dog.owner.pk %}">{{dog.owner}}</a></h4>

<a class="add-button" href="{% url 'dog_edit' pk=dog.pk %}">Edit dog info</a>
<a class="add-button" href="{% url 'dog_delete' pk=dog.pk %}">Remove dog</a>
</div>
{% endblock %}
