{% extends 'dogcity/base.html' %}


{% block content %}
<nav>
    <a class='logo' href="{% url 'home_page' %}"> <img src="../static/images/Dog_City_logo_White.svg" alt="logo"></a>
    
    {% if user.is_authenticated %}
      <a class="username"> Welcome, {{user.username}}</a>
      <a href="{% url 'logout' %}">Signout</a>
      <a href="{% url 'dog_list' %}">Dogs</a>
      <a href="{% url 'playdate_list' %}">Playdates</a>
      <a href="{% url 'owner_list' %}">Owners</a>
     {% else %} 
    <a href="{% url 'signup' %}">Signup</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </nav>
  <div class="hero"></div>
  <div>
    <h1>Dog City</h1>
    <h3>Find a pack for your pup — then come out and play!</h3>
  </div>

{% endblock %}

  
  
