{% extends 'dogcity/base.html' %} {% block content %}
<nav>
  <a class='logo' href="{% url 'home_page' %}">
    <img src="../static/images/Dog_City_logo_White.svg" alt="logo">
  </a>
  <a href="{% url 'dog_list' %}">Dogs</a>
  <a href="{% url 'playdate_list' %}">Playdates</a>
</nav>
<div class="bg">
  <h2>{{ playdate.location }}</h2>
  <h4>{{ playdate.date }}</h4>
  <h4>{{ playdate.time }}</h4>
  <h4>{{ playdate.description }}</h4>

  <a class="add-button" href="{% url 'playdate_edit' pk=playdate.pk %}">Edit playdate info</a>
  <a class="add-button" href="{% url 'playdate_delete' pk=playdate.pk %}">Remove playdate</a>

  <h2>Who's coming</h2>
  {% for dog in playdate.dogs.all %}
  <h4><a href="{% url 'dog_detail' pk=dog.pk %}">{{dog.name}}</a></h4>
  <img src="{{dog.photo_url}}" alt="dog" class="dog-small">
  {% endfor %}

</div>
{% endblock %}